.App {
  min-height: 100vh;
  padding-top: 96px;
  
  & .forecastsList {
    display: flex;
    margin-top: 110px;
    overflow: scroll;
    list-style-type: none;
  }
}

@media (max-width: 640px) { 
  .App {
    padding-top: 48px;

    & .forecastsList {
      margin-top: 64px;
    }
  }
}
